.infoPage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: calc(100% - 8rem);
    padding: 2rem;
    text-align: center;
    font-size: 20px;
}

#contact {
    color: slategrey;
}