
@{
    ViewBag.Title = "Favourites";
}

<head>
    <link rel="stylesheet" href="~/Content/Favourites.css" />
</head>
<body>
    <div class="comicBooks">
        <div class="InfoContainer">
            <div class="image">
                <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/20/5b33e303c6e29/clean.jpg" alt="Book 1" id="Book1" />
            </div>
            <div class="text">
                <p>
                    Iron-man has and always will be one of my favourite Marvel characters.
                    <br />
                    <br />
                    With Tony Stark practically on his deathbed, Pepper, Jarvis and Happy wait and stand vigil while reminiscing about Iron Man's past.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="InfoContainer">
            <div class="image">
                <img src="https://i.annihil.us/u/prod/marvel/i/mg/2/c0/6055161a2b73d/standard_fantastic.jpg" alt="Book 2" id="Book2" />
            </div>
            <div class="text">
                <p>
                    Personally, I hav always liked the Alien franchise and now there is a new story line to follow.
                    <br />
                    <br />
                    Gabriel Cruz gave his life to Weyland-Yutani--In the case of an alien attack he barely survived, almost literally!<br />
                    Recently retired, Cruz is trying to patch things up with his abandoned son with the help of his friend,<br />
                    a Bishop-model android, but his re-entry into civilian life is not going smoothly…<br />
                    and his encounters with the deadly Xenomorph are far from over.<br />
                    Phillip Kennedy Johnson and Salvador Larroca team up to tell an all-new tale of the titan of horror and science fiction that has <br /> 
                    scared audiences for decades. No one is safe. No one is innocent. And no one can hear you scream.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="InfoContainer">
            <div class="image">
                <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/60/4baa6d3098672/detail.jpg" alt="Book 3" id="Book3" />
            </div>
            <div class="text">
                <p>
                    In this comic before she steals the world's heart in Iron Man II, get caught in the wicked web of Marvel's sexiest and  <br />
                    deadliest super-spy! She's been everything from a Russian espionage agent to a Champion to an Avenger, now a skeleton from  <br />
                    Natalia Romanova's past is reaching out for those she's loved and lost...
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="InfoContainer">
            <div class="image">
                <img src="https://i.annihil.us/u/prod/marvel/i/mg/5/60/6142602cbe0e1/standard_fantastic.jpg" alt="Book 4" id="Book4" />
            </div>
            <div class="text">
                <p>
                    I love the X-Men. Especially for the fact that they use a theoretical example of Mutation, Evolution and Genetics throughout the  <br />
                    entire series. Each time it gives you something new to think about and after a while you will start to ask yourself: "What if?"
                </p>
            </div>
        </div>
    </div>
</body>

