@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/Content/MainPage.css" />
</head>
<body>
    <div class="mainPage">
        <img src="https://wallpaperaccess.com/full/692818.jpg" alt="Main Image" class="MainImage" />
    </div>
</body>